<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Eat Da Burger</title>

<!-- Including required Stylesheet files -->
  <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">
  <link rel="stylesheet" 
        href="./assets/css/style.css">
  <link rel="stylesheet" 
        href="./assets/css/modal-div.css">


<!-- Including required Javascript files -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://kit.fontawesome.com/87d17db429.js"></script>
  <script src="./assets/js/modal-div.js"></script>

</head>
<body>

    <header class="text-center translucent-black" >
            <i class="fas fa-hamburger fa-9x"></i>
            <h1 class="display-2"> Eat Da Burger</h1>
    </header>

    {{{body}}}

  <div class="my-alert">
      <div class="alert-text">Alert Text to go here.</div>
      <button id="clear-alert" class="btn btn-warning mt-2">OK</button>
  </div>

</body>
</html>



