/* Special styling for the alert box.                                      */
/* Feel free to reset size or color styling, just remember if you reset    */
/* the size to reset the positioning function in the javascript file also. */
.my-alert {
    background-color:  black;
    color: white;
    position:fixed;
    top: 35%;
    left: 35%;
    height: 100px;
    width: 350px;
    border: 3px solid orangered;
    box-shadow: 5px 10px 8px black;
    text-align: center;
    display:none;
}

#clear-alert {
    margin: auto;
}